$color-neutral: #f9f4ed;
$color-medium: #f8f0e5;
$color-light: #fafafa;

$font-small: 1.2rem;
$font-color: #0e183a;
$font-small-color: #72685a;

$border-color: #e2d6c4;
$border-thin: 1px solid $border-color;
$border-large: 10px solid $color-medium;
